.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: black;
}

.screen-title {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
  color: white;
}

#day_of_week {
  fill: #fca43f;
}

#hour-three {
  fill: #10e6e3;
}

#hour-one,
#hour-two {
  fill: #ffb663;
}

#date_month {
  fill: #10e6e3;
}